/* Header */
.header-container {
  position: sticky;
  z-index: 1;
  top: 0px;
  width: 100%;
  height: 75px;
  background-color: rgba(112, 146, 17, 0.802);
}

.header-container > div > div:nth-child(3) {
  border-right: 2px solid rgb(53, 101, 53);
}

.header-container > img {
  position: absolute;
  border-radius: 5px;
  width: auto;
  height: 65px;
  margin: 5px;
}

/* Main content */
.content {
  margin: 0 120px;
}

.content .title {
  display: flex;
  justify-content: center;
  font-family: Courier New, serif;
  transition: font-size 0.5s;
}

.content .title:hover {
  font-size: larger;
  color: rgba(197, 58, 85, 0.814);
  cursor: pointer;
}

.content .line-break {
  border-bottom: 5px double rgba(32, 32, 32, 0.714);
}

.content .box-container {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.content .box-container .box-row {
  border: 1.5px solid lightgray;
  margin: 10px;
  align-content: center;
  text-align: center;
}

.content .box-container .box-row:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content .box-container .box-row img {
  position: relative;
  display: block;
  width: 320px;
  height: 270px;
  background-size: contain;
}

.content .box-container .box-row h3 {
  display: block;
  position: relative;
  color: black;
  text-align: center;
  font-family: Courier New, serif;
}

.content .box-container .box-row p {
  display: block;
  width: 300px;
  position: relative;
  margin: auto;
  color: black;
  text-align: justify;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: rgba(239, 239, 194, 0.835);
}

/* Footer */
.footer-container {
  position: relative;
  display: flex;
  width: 100%;
  background-color: rgba(158, 151, 151, 0.823);
  height: 200px;
  margin-bottom: 0px;
  justify-content: space-around;
}

.footer-container > .box-row h3 {
  text-align: center;
}

.footer-container > .box-row {
  margin: auto;
}

/* Feedback */
.feedback {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.feedback .feedback-img {
  position: relative;
  display: block;
}

.feedback .feedback-img > img {
  background-size: contain;
  display: block;
  margin-left: 150px;
  width: 150px;
  height: 150px;
}

.feedback .feedback-img .feedback-img-overlay {
  position: absolute;
  height: 150px;
  width: 150px;
  opacity: 0;
  bottom: 6px;
  left: 150px;
  transition: 0.5s ease;
  background-color: rgb(255, 255, 255);
}

.feedback .feedback-img .feedback-img-text-overlay {
  padding: 55px 10px;
  text-align: center;
}

.feedback .feedback-img:hover .feedback-img-overlay {
  opacity: 0.7;
}

.feedback .feedback-descripbe > p {
  position: relative;
  width: 900px;
  height: 120px;
  font-size: 18px;
  color: black;
  background-color: rgb(240, 255, 255);
  font-family: 'Trebuchet MS', sans-serif;
}
